.create-employee-container {
    position: absolute;
    color: black;
    margin-top: 100px;
    right: 40%;
}

.create-employee-container form input {
    padding: 8px;
    width: 300px;
    border-radius: 5px;
    border: none;
}

.create-employee-container form button {
    margin-left: 25%;
    padding: 7px;
    cursor: pointer;
}

.create-employee-container form button:hover {
    box-shadow: 0 0px 4px 3px rgba(0, 0, 0, 0.1);
}